.card {
  background-color: blue;
  display: flex;
  gap: 20px;
}

.cardText {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 300px;
}

#title {
  color: green;
}

.paragraph_1 {
  color: red;
}

.paragraph_8 {
  color: blue;
}